<nav class="nav">
    <ul class="nav__menu">
      <li class="nav__item"><a class="nav__link" routerLink="apple"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/apple.png" alt="Apple"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="asus"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/asus.png" alt="Asus"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="hp"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/hp.png" alt="HP"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="acer"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/acer.png" alt="Acer"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="lenovo"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/lenovo.png" alt="Lenovo"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="samsung"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/samsung.png" alt="Samsung"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="dell"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/dell.png" alt="Dell"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="canon"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/canon.png" alt="Canon"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="tplink"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/tp-link.png" alt="TP-link"></a></li>
      <li class="nav__item"><a class="nav__link" routerLink="logitech"><img class="nav__img" src="https://video.rozetka.com.ua/img_superportal/gaming/gaming-main/logitech.jpg" alt="Logitech"></a></li>
    </ul>
  </nav>